{% extends '@App/Base/base.html.twig' %}

{% block page_content %}

    <div class="row">
        <h1 class="text-left title-text margin-left-10">
            Utilisateur
        </h1>
        <hr>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">Nom Complet</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Dernière connexion</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ user.getFullName() }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.lastLogin }}</td>
                    <td>
                        <a  class="btn btn-info"
                            title="Retour à la liste des utilisateur"
                            href="{{ path('user_list') }}">
                            <i class="fa fa-arrow-circle-right"></i>
                        </a>
                        <a  class="btn btn-success"
                            title="Modifier l'utilisateur {{ user.getFullName() }}"
                            href="{{ path('user_edit', { 'id': user.id }) }}">
                            <i class="fa fa-pencil-square-o"></i>
                        </a>
                        <a  class="btn btn-danger"
                            title="Supprimer l'utilisateur {{ user.getFullName() }}"
                            href="{{ path('user_delete', { 'id': user.id }) }}">
                            <i class="fa fa-minus"></i>
                        </a>
                    </td>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
