{% trans_default_domain 'fos_user_bundle' %}
{% extends "@App/Base/base.html.twig" %}

{% block title %}
    {{ parent() ~ " " ~ 'Liste des produits' }}
{% endblock title %}

{% block page_content %}

    <div class="row">
        <h1 class="text-left title-text margin-left-10">
            Facturation
        </h1>
        <hr>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ form_start(cartForm, {'action': path('facture_create'), 'method': 'POST'}) }}
                <table id="cart" class="table table-hover table-condensed">

                    <thead>
                    <tr>
                        <th style="width:40%">Product</th>
                        <th style="width:20%"   class="text-center">Price</th>
                        <th style="width:8%"  class="text-center">Quantity</th>
                        <th style="width:22%" class="text-center">Subtotal</th>
                        <th style="width:10%"></th>
                    </tr>
                    </thead>

                    {% set sommeTotale = 0 %}

                    {% if app.session.get('cart') is not null %}

                        <tbody>

                        {% for produit in cartForm.produits %}

                            {% set sousTotal = produit.vars.value.prixUnitaire * produit.vars.value.quantiteAchetee %}
                            {% set sommeTotale = sommeTotale + sousTotal %}

                            <tr>
                                <td data-th="Product">
                                    <div class="row">
                                        <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
                                        <div class="col-sm-10">
                                            <h6 class="text-left title-text">
                                                {{ produit.vars.value.designation }}
                                                <span style="display: none">{{ form_widget(produit.designation) }}</span>
                                                <span style="display: none">{{ form_widget(produit.id) }}</span>
                                            </h6>
                                            <p class="text-justify">Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet.</p>
                                        </div>
                                    </div>
                                </td>
                                <td data-th="Price"  class="text-center">
                                    {{ produit.vars.value.prixUnitaire }} FCFA
                                    <span style="display: none">{{ form_widget(produit.prixUnitaire) }}</span>
                                </td>
                                <td data-th="Quantity">
                                    {{ form_widget(produit.quantiteAchetee) }}
                                    <span style="display: none">{{ form_widget(produit.quantiteStock) }}</span>
                                </td>
                                <td data-th="Subtotal" class="text-center">
                                    {{ sousTotal }} FCFA
                                    <span style="display: none">
                                        {{ form_widget(produit.prixTotal, {'value' : sousTotal }) }}
                                    </span>
                                </td>
                                <td class="actions" data-th="">
                                    <a href="{{ path('cart_produit_delete', {'id': produit.vars.value.id }) }}"
                                        class="btn btn-danger btn-sm"
                                       title="Supprimer l'article: {{ produit.vars.value.designation }}"
                                    >
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>

                        {% endfor %}

                        </tbody>

                    {% endif %}

                    <tfoot>
                        <tr>
                            <td colspan="3" class="text-right">
                                <i>TVA : {{ tva }}%</i>
                                <span style="display: none">
                                    {{ form_widget(cartForm.tva, {'value' : tva }) }}
                                </span>
                            </td>
                            <td class="text-center text-warning">
                                <strong>{{ (tva * sommeTotale) / 100 }} FCFA</strong>
                            </td><td></td>
                        </tr>
                        <tr>
                            <td class="pull-left">
                                <a href="{{ path('categorie_all') }}" class="btn btn-warning">
                                    <i class="fa fa-angle-left"></i> Continuez vos achats
                                </a>
                            </td>
                            <td colspan="2" class="text-right">
                                <i>TOTAL</i>
                            </td>
                            <td class="hidden-xs text-center">
                                <strong> {{ ((tva * sommeTotale) / 100) + sommeTotale }} FCFA</strong>
                                <span style="display: none">
                                    {{ form_widget(cartForm.totalTTC, {'value' : (((tva * sommeTotale) / 100) + sommeTotale) }) }}
                                </span>
                                <span style="display: none">
                                    {{ form_widget(cartForm.totalHT, {'value' : sommeTotale }) }}
                                </span>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-success btn-block">
                                    Commandez <i class="fa fa-angle-right"></i>
                                </button>
                            </td>
                        </tr>
                    </tfoot>

                </table>

            {{ form_widget(cartForm._token) }}
            {{ form_end(cartForm, {'render_rest': false }) }}

        </div>
    </div>
{% endblock  %}
