{% extends '@App/Base/base.html.twig' %}

{% block form_content %}

    {% set form_title = 'Création d\'un nouveau produit' %}

    {{ parent() }}

    {{ form_start(form) }}
        <div class="form-group text-left">
            <label class="control-label requiredField" for="email">
                {{ form_label(form.designation) }}
            </label>
            {{ form_widget(form.designation) }}
            {{ form_errors(form.designation) }}
        </div>

        <div class="form-group text-left">
            <label class="control-label requiredField" for="email">
                {{ form_label(form.numero) }}
            </label>
            {{ form_widget(form.numero) }}
            {{ form_errors(form.numero) }}
        </div>

        <div class="form-group text-left">
            <label class="control-label requiredField" for="email">
                {{ form_label(form.quantiteAlerte) }}
            </label>
            {{ form_widget(form.quantiteAlerte) }}
            {{ form_errors(form.quantiteAlerte) }}
        </div>

        <div class="form-group text-left">
            <label class="control-label requiredField" for="email">
                {{ form_label(form.quantiteStock) }}
            </label>
            {{ form_widget(form.quantiteStock) }}
            {{ form_errors(form.quantiteStock) }}
        </div>

        <div class="form-group text-left">
            <label class="control-label requiredField" for="email">
                {{ form_label(form.categorie) }}
            </label>
            {{ form_widget(form.categorie) }}
            {{ form_errors(form.categorie) }}
        </div>

        <div class="form-group pull-right">
            <button type="submit" class="btn btn-success">Enregister</button>
        </div>

    {{ form_end(form) }}

{% endblock %}
